* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to right, #f58634 55%, #ff68 );

}
.navbar {
    background: linear-gradient(to right, #f58634 55%, #ff68 );
    position: fixed;
    z-index: 1;
    top: 0;
}
.navbar a img {
    width: 15%;
    border-radius: 50%;
}
.navbar-toggler {
    color: #f58634;
    margin-top: -8%;
}
.navbar-nav {
    display: flex; 
    flex-wrap: nowrap; 
}
.nav-link {
    white-space: nowrap; 
    font-size: 20px;
}
.navbar-nav .nav-link {
    position: relative;
    padding-bottom: 5px;
}
.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000; 
    transition: width 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover::before {
    width: 100%;
}
.btn-custom {
    font-size: 18px;
    background-color: transparent; 
    border: 1px solid whitesmoke; 
}
.btn-custom:hover {
    background-color: #f58634; 
    color: white; 
}
.parent {
    background-image: url(./assest/phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left; 
    padding: 112px 0 40px;
    border-radius: 8px;
    height: 120vh;
}
.container h1, h2, h3 {
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    color: #f58634;
    margin-top: 4%;
}
.container p {
    color: #ff68;
    font-size: 20px;
    font-weight: 600
}
.child h2 {
    color: #fff;
    font-family: 35px;
    margin-top: 8%;
}
label {
    color: #ffff;
    font-weight: 700;
}
.btn1 {
    /* margin-top: 3% !important; */
    background-color: #f58634;
    padding: 10px 25px;
    border-color: #f58634;
    color: #ffff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 10px;
    transition: .3s;
}
.btn1:hover {
    background-color: #ff68;
    border-color: #e57324;
    color: #000;
}